<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object.name }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container" style="padding: 40px">
    <h2 style="display: inline-block">{{ object.name }}</h2>
    <a class="btn btn-primary" style="display: inline-block; float: right;" href="{% url 'list_view' %}">Back to
        List</a>
    <div style="height: 20px;"></div>
    <div class="card" style="padding: 20px;">
        {% if object.gender == 'male' %}
            He is {{ object.name }}. He says his motivation is:<br> "{{ object.motivation }}"
            For more info, link to his CV is below:<br>
            <a href="{{ object.file.url }}">Resume</a>
        {% elif object.gender == 'female' %}
            She is {{ object.name }}. She says her motivation is:<br> "{{ object.motivation }}"
            For more info, link to her CV is below:<br>
            <a href="{{ object.file.url }}">Resume</a>
        {% endif %}

    </div>
</div>

</body>
</html>