<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body style="padding: 20px">
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <h2 style="text-align: center">{{ message }}</h2>
            </div>
        {% endfor %}
    {% endif %}
    <h1 style="display: inline-block">Applications List</h1>
    <a class="btn btn-primary" href="{% url 'logout' %}" style="display: inline-block; float: right">Logout</a><br>

    <table>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>File</th>
            <th>Motivation</th>
            <th></th>
        </tr>
        {% for a in object_list %}
            <tr>
                <td>{{ a.name }}</td>
                <td>{{ a.email }}</td>
                <td>{{ a.number }}</td>
                <td><a href="{{ a.file.url }}">Resume</a></td>
                <td>{{ a.motivation }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown"
                                data-hover="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'detail' a.id %}">Details</a></li>
                            <li><a class="dropdown-item" href="{% url 'edit_form' a.id %}">Edit</a></li>
                            <li><a class="dropdown-item" href="{% url 'delete' a.id %}">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div style="height: 20px"></div>
    <a href="{% url 'apply_form' %}">Go to Form</a>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>