<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body style="padding: 20px">
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
           <h2 style="text-align: center">{{ message }}</h2>
        </div>
    {% endfor %}
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card" style="padding: 20px;">
                <h2 style="display: inline-block">Edit Applicant's Form</h2><br>
                <form method="post" action="{% url 'edit_form' a.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label>Name:</label>
                    <input name="full_name" type="text" class="form form-control" value="{{ a.name }}" required><br>
                    <label>How can we contact you?</label>
                    <div class="row">
                        <div class="col-md-6">
                            <input name="email" type="email" class="form form-control" value="{{ a.email }}" type="email"
                                   required>
                        </div>
                        <div class="col-md-6">
                            <input name="phone_number" type="number" class="form form-control" value="{{ a.number }}"
                                   required>
                        </div>
                    </div><br>
                    <label>Gender: </label>
                    <input type="radio" value="male" name="gender">Male
                    <input type="radio" value="female" name="gender">Female<br>
                    <br><label>CV or Resume</label><br>
                    <input name="my_file" type="file" required><br><br>
                    <label>Motivation</label><br>
                    <textarea class="form form-control" name="motivation" style="width: 100%; height: 100px;"
                              required></textarea><br>
                    <button class="btn btn-primary" type="submit" style="color: white;">Update</button>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</body>
</html>